---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=e824f97388f7141d3eec1a87b185ed3c&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646713403,"sunrise":1646659304,"sunset":1646701045,"temp":23.88,"feels_like":23.88,"pressure":1026,"humidity":84,"dew_point":20.23,"uvi":0,"clouds":100,"visibility":2816,"wind_speed":0,"wind_deg":0,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1646713440,"precipitation":0},{"dt":1646713500,"precipitation":0},{"dt":1646713560,"precipitation":0},{"dt":1646713620,"precipitation":0},{"dt":1646713680,"precipitation":0},{"dt":1646713740,"precipitation":0},{"dt":1646713800,"precipitation":0},{"dt":1646713860,"precipitation":0},{"dt":1646713920,"precipitation":0},{"dt":1646713980,"precipitation":0},{"dt":1646714040,"precipitation":0},{"dt":1646714100,"precipitation":0},{"dt":1646714160,"precipitation":0.1029},{"dt":1646714220,"precipitation":0.106},{"dt":1646714280,"pr[...]
