---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=e824f97388f7141d3eec1a87b185ed3c&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1647453839,"sunrise":1647436083,"sunset":1647479167,"temp":54.14,"feels_like":50.81,"pressure":1014,"humidity":33,"dew_point":26.42,"uvi":4.04,"clouds":0,"visibility":10000,"wind_speed":0,"wind_deg":0,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1647453600,"temp":54.14,"feels_like":50.81,"pressure":1014,"humidity":33,"dew_point":26.42,"uvi":4.04,"clouds":0,"visibility":10000,"wind_speed":14.03,"wind_deg":120,"wind_gust":17.25,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1647457200,"temp":54.45,"feels_like":51.04,"pressure":1013,"humidity":31,"dew_point":25.34,"uvi":3.91,"clouds":20,"visibility":10000,"wind_speed":15.28,"wind_deg":113,"wind_gust":17.94,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1647460800,"temp":54.81,"feels_like":51.44,"pressure":1012,"humidity":31,"dew_point":25.61,"uvi":3.57,"clouds":40,"visibility":10000,"wind_speed":14.29,"wind_deg":105,"wind_gust":16.31,"weather":[{"id":80[...]
