---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=e824f97388f7141d3eec1a87b185ed3c&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646807055,"sunrise":1646745615,"sunset":1646787504,"temp":24.71,"feels_like":18.93,"pressure":1017,"humidity":73,"dew_point":18.12,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":4.61,"wind_deg":80,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1646807100,"precipitation":0},{"dt":1646807160,"precipitation":0},{"dt":1646807220,"precipitation":0},{"dt":1646807280,"precipitation":0},{"dt":1646807340,"precipitation":0},{"dt":1646807400,"precipitation":0},{"dt":1646807460,"precipitation":0},{"dt":1646807520,"precipitation":0},{"dt":1646807580,"precipitation":0},{"dt":1646807640,"precipitation":0},{"dt":1646807700,"precipitation":0},{"dt":1646807760,"precipitation":0},{"dt":1646807820,"precipitation":0},{"dt":1646807880,"precipitation":0},{"dt":1646807940,"precipitati[...]
