---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=e824f97388f7141d3eec1a87b185ed3c&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646760257,"sunrise":1646745615,"sunset":1646787504,"temp":32.45,"feels_like":32.45,"pressure":1023,"humidity":71,"dew_point":25.02,"uvi":2.89,"clouds":3,"visibility":10000,"wind_speed":1.99,"wind_deg":22,"wind_gust":5.99,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"snow":{"1h":0.51}},"minutely":[{"dt":1646760300,"precipitation":0},{"dt":1646760360,"precipitation":0},{"dt":1646760420,"precipitation":0},{"dt":1646760480,"precipitation":0},{"dt":1646760540,"precipitation":0},{"dt":1646760600,"precipitation":0},{"dt":1646760660,"precipitation":0},{"dt":1646760720,"precipitation":0},{"dt":1646760780,"precipitation":0},{"dt":1646760840,"precipitation":0},{"dt":1646760900,"precipitation":0},{"dt":1646760960,"precipitation":0},{"dt":1646761020,"precipitation":0},{"dt":1646761080,"precipitation":0},{"dt":1646761140,"precipitati[...]
