---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=e824f97388f7141d3eec1a87b185ed3c&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646713345,"sunrise":1646659442,"sunset":1646701087,"temp":22.32,"feels_like":22.32,"pressure":1022,"humidity":76,"dew_point":16.63,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.01,"wind_deg":205,"wind_gust":1.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1646713380,"precipitation":0},{"dt":1646713440,"precipitation":0},{"dt":1646713500,"precipitation":0},{"dt":1646713560,"precipitation":0},{"dt":1646713620,"precipitation":0},{"dt":1646713680,"precipitation":0},{"dt":1646713740,"precipitation":0},{"dt":1646713800,"precipitation":0},{"dt":1646713860,"precipitation":0},{"dt":1646713920,"precipitation":0},{"dt":1646713980,"precipitation":0},{"dt":1646714040,"precipitation":0},{"dt":1646714100,"precipitation":0},{"dt":1646714160,"precipitation":0},{"dt":1646714220,"precipitati[...]
