---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=e824f97388f7141d3eec1a87b185ed3c&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1647453831,"sunrise":1647436184,"sunset":1647479245,"temp":50.63,"feels_like":47.37,"pressure":1011,"humidity":42,"dew_point":28.83,"uvi":2.29,"clouds":100,"visibility":10000,"wind_speed":5.99,"wind_deg":102,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1647453600,"temp":50.63,"feels_like":47.37,"pressure":1011,"humidity":42,"dew_point":28.83,"uvi":2.29,"clouds":100,"visibility":10000,"wind_speed":9.8,"wind_deg":79,"wind_gust":11.72,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1647457200,"temp":50.36,"feels_like":47.12,"pressure":1011,"humidity":43,"dew_point":29.12,"uvi":3.46,"clouds":100,"visibility":10000,"wind_speed":8.01,"wind_deg":46,"wind_gust":9.22,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.19},{"dt":1647460800,"temp":50.52,"feels_like":47.25,"pressure":1011,"humidity":42,"dew_point":28.74,"uvi":3.16,"clouds":100,"visibility":10000,"wind_speed":4.74,"wind_deg":30,"wind_gust":6.85,"weather":[{"id[...]
