---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=e824f97388f7141d3eec1a87b185ed3c&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646691978,"sunrise":1646659442,"sunset":1646701087,"temp":29.89,"feels_like":26.94,"pressure":1022,"humidity":50,"dew_point":15.33,"uvi":1.47,"clouds":72,"visibility":10000,"wind_speed":3,"wind_deg":60,"wind_gust":8.01,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"snow":{"1h":0.3}},"minutely":[{"dt":1646692020,"precipitation":0},{"dt":1646692080,"precipitation":0},{"dt":1646692140,"precipitation":0},{"dt":1646692200,"precipitation":0},{"dt":1646692260,"precipitation":0},{"dt":1646692320,"precipitation":0},{"dt":1646692380,"precipitation":0},{"dt":1646692440,"precipitation":0},{"dt":1646692500,"precipitation":0},{"dt":1646692560,"precipitation":0},{"dt":1646692620,"precipitation":0},{"dt":1646692680,"precipitation":0},{"dt":1646692740,"precipitation":0},{"dt":1646692800,"precipitation":0},{"dt":1646692860,"precipitati[...]
